body {
  padding: 20px;
  background-color: black;
  text-align: center;
}

#title-container {
  display: flex;
  align-items: center;
}

#new-grid-button {
  border-radius: 50%;
  height: 80px;
  width: 80px;
}

#new-grid-button i {
  font-size: 30px;
}

#main-container {
  width: 700px;
  height: 700px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: red;
  border: solid;
  border-width: 10px;
  border-color: brown;
  border-radius: 70px;
}

#grid-container {
  width: 500px;
  height: 500px;
  background-color: azure;
}
 
.line {
  display: flex;
  justify-content: center;
}

#title {
  max-width: 500px;
}

.colored-square {
  background-color: #222222;
}